<h1>welcome!</h1> 

<h1>Dächer in der DB:</h1>
<ul *ngIf="roofs">
    <li *ngFor="let roof of roofs">
        <p class="name">{{ roof.name }}</p>
        <p class="country">{{ roof.country }}</p>
        <a href="{{ roof.website_url }}" class="site">website</a>
    </li>
</ul>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You said:</strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]='clickCounter > 4' [ngIfElse]="none" >
        <p>>4</p>
    </ng-template>
    <ng-template #none>
        <p>smaller4</p>
    </ng-template>
</div>
