
<div class="view image">
        <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Dach vermieten</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Titel der Anzeige</label>
                <div class="col-md-8">
                    <input id="textinput" name="textinput" type="text" placeholder="50qm Dach in Süddeutschland zu vermieten"
                        class="form-control input-md" required="">
                    <span class="help-block">help</span>
                </div>
            </div>

            <!-- Appended Input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="appendedtext">Dachgröße</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="appendedtext" name="appendedtext" class="form-control" placeholder="50"
                            type="text">
                        <span class="input-group-addon">qm</span>
                    </div>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Dachart</label>
                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Flachdach</option>
                        <option value="2">Schrägdach</option>
                    </select>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id">Anzeige einstellen</label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success">Absenden</button>
                    <button id="button2id" name="button2id" class="btn btn-danger">Abbrechen</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>



<!-- More maybe useful formelements for later:
            
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Text Input</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder"
                        class="form-control input-md">
                    <span class="help-block">help</span>
                </div>
            </div>

           
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Text Area</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="prependedcheckbox">Prepended Checkbox</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <input id="prependedcheckbox" name="prependedcheckbox" class="form-control" type="text"
                            placeholder="placeholder">
                    </div>
                    <p class="help-block">help</p>
                </div>
            </div>

           
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">Password Input</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder"
                        class="form-control input-md">
                    <span class="help-block">help</span>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="buttondropdown">Button Drop Down</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder"
                            type="text">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Option one</a></li>
                                <li><a href="#">Option two</a></li>
                                <li><a href="#">Option three</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        -->